.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  min-height: 30vh;
}

.title{
  font-weight: 600;
  padding: 0 1rem;
  text-align: center;
}

.content{
  line-height: 1.5rem;
  max-width: 70rem;
  padding: 2rem;
}